<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<h2>Validation Example</h2>
<form ng-app="myApp" ng-controller="myCtrl" name="myform" novalidate>
<p>Username:<br>
<input type="text" name="user" ng-model="user" required>
<span style="color:red" ng-show="myform.user.$dirty && myform.user.$invalid">
<span ng-show="myform.user.$error.required">Username is required</span>
</span>
</p>

<p>Email:
<input type="email" name="email" ng-model="email" required>
<span style="color: lime;" ng-show="myform.email.$dirty && myform.email.$invalid">
<span ng-show="myform.email.$error.required">Email is required</span>
<span ng-show="myform.email.$error.email">Email is invalid</span>
</span>
</p>

<p><input type="submit" ng-disabled="myform.user.$dirty && myform.user.$invalid || 
    myform.email.$dirty && myform.email.$invalid"></p>
</form>

<script>
    var app=angular.module('myApp',[]);
    app.controller('myCtrl',function($scope){
        $scope.user="John Doe";
        $scope.email="John@gmail.com";
    });
</script>
</body>
</html>